@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

svg {
    min-width: auto;
    min-height: auto;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 0;
    background-color: #F2F2F2;
}

.content-container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "article article article"
    "aside aside aside"
    "footer footer footer";
    grid-auto-rows: min-content;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

#pageHeader {
    grid-area: header;
    position: relative;
}

.main-mobile {
    position: absolute;
    right: -125px;
    top: -150px;
    width: 100%;
}

.logo {
    margin-left: 25px;
    margin-top: 30px;
    width: 146.09px;
}

#pageArticle {
    grid-area: article;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 4.0rem;
    margin-top: 25px;
}

.article-description {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-right: 40px;
}

h1, .article-description {
    margin-left: 25px;
}


.phone-visual-container {
    position: relative;
    width: 100%;
    min-height: 550px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.illustration-app {
    position: absolute;
    width: 50%;
    top: 0;
    z-index: 2;
}

.bg-pattern-2 {
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 100%;
    top: 90px;
    padding-right: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

#pageAside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 500px;
}

.aside-bg {
    position: absolute;
    background-color: #FA7453;
    width: 100%;
    border-radius: 15px;
    z-index: 3;
    top: -19%;
}

h2, .aside-description, .price-display {
    padding-left: 25px;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: #FCFAF9;
    margin-top: 35px;
    margin-bottom: 0px;
}

.aside-description {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #FCFAF9;
    font-weight: 400;
    margin-top: 15px;
    margin-right: 41px;
}

.price-display {
    margin-bottom: 20px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.cost {
    font-size: 6.5rem;
    color: #FCFAF9;
    font-weight: 700;
}

.length-time {
    font-size: 2.0rem;
    color: #FCFAF9;
    font-weight: 400;
    margin-left: 15px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 325px;
    height: 61px;
    border-radius: 15px;
    font-size: 1.8rem;
}

#ios {
    background-color: #191826;
    color: #FCFAF9;
}

#apple-svg {
    width: 17.08px;
    margin-right: 3px;
    margin-bottom: -0.5px;
    padding-top: 4px;
}

#android {
    background-color: #FCFAF9;
    color: #191826;
    margin-bottom: 45px;
    margin-top: 18px;
}

#android-svg {
    width: 16.7px;
    margin-right: 3px;
    margin-bottom: -1.5px;
    padding-top: 3px;

}

#pageFooter {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

#footer-logo {
    width: 130px;
}

.footer-legal {
    color: #191826;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-right: 55px;
    margin-bottom: 60px;
}

.contact-email {
    font-weight: 700;
}

.social-logos {
    margin-bottom: 80px;
}

#fb {
    margin-right: 15px;
}

#ig {
    margin-right: 15px;
}

